.Boy-Name{
    padding: 0.30rem;
    margin:0.30rem;
    border:  1px solid lightblue;
    border-radius: 1rem;
    background-color: antiquewhite;
}

.Girl-Name{
    padding: 0.30rem;
    margin:0.30rem;
    border:  1px solid pink;
    border-radius: 1rem;
    background-color:gray;
}
.name-container{
    display: flex;
    flex-wrap: wrap;
    margin:12rem;
     border:  1px solid pink;
     padding:2rem;
      border-radius: 1rem;

}