.f{
    background-color: lightslategray;
    border: maroon 1px solid;
    margin: 0.4rem;
    padding: 0.4rem;
     border-radius: 2rem;
}


.m{
    background-color: lightyellow;
    border: maroon 1px solid;
    margin: 0.4rem;
    padding: 0.4rem;
    border-radius: 2rem;
}

.container{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 5rem; 
   
    border-radius: 2rem;
    padding: 2rem;
    justify-content: center;
}