.f{
    background-color: lightslategray;
    border:lightslategray 1px solid;
    margin: 0.15;
    padding: 0.15rem;
     border-radius: 2rem;
}


.m{
    background-color: lightyellow;
    border: lightYellow 1px solid;
    margin: 0.15rem;
    padding: 0.15rem;
    border-radius: 2rem;
}

.container{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
     
   
    border-radius: 2rem;
    
    justify-content: center;
}